		a{
			font-size:18px;  text-decoration:none;  font-weight:bold;
			margin-left:20px; 
			border:1px solid red; 
			padding:5px 10px; 
			color:white; 
		}
		.Home{
			background:red; 
		}
		.About{
			background:teal; 
		}
		.Contact{
			background:lightgreen; 
		}
		.Service{
			background:orange; 
		}